
.container{
    width: 750px;
    height: 600px;
    background: mediumseagreen;
    display: flex;
    flex-wrap: wrap;
}

.blockA{
    width: 99%;
    height: 50%;
    background: silver;
}

.blockF{
    width: 35%;
    height:46%;
    background:silver;
}

.box{
    width: 64%;
    height: 46%;
    display: flex;
    flex-wrap: wrap;
}
.blockB{
    width: 97%;
    height: 50%;
    background: silver;
}
.block{
    width: 98%;
    height: 47%;
    background: mediumseagreen;
    display: flex;

}
.blockC{
    width: 97%;
    height: 99%;
    background: silver;
    margin: 1%;
}
