.even{
    width: 900px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-sizing: border-box;
}
.cards{
    width: 250px;
    height: 350px;
   border: 1px solid gray;
    box-sizing: border-box;
    margin: 10px;
}
.header{
    color: black;
    box-sizing: border-box;
    text-align: center;
    font-size: 25px;
}
.description{
    color: darkgrey;
    box-sizing: border-box;
    padding: 5px 25px 5px;
    text-align: center;
    font-size: 20px;
}
.round {
   ;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    top: -40px;
    left: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.a{
    height: 30px;
    width: 70px;
    text-decoration: lightblue;
    color: gray;
    border: 1px solid black;
    font-size: 15px;
}

