.bg{
    background: silver;
}
.boxA{
    width: 99%;
    height: 300px;
    margin: 1%;

}
.box{
    display: flex;
}

.boxB{
    width: 75%;
    height: 450px;
    margin: 1%;
}
.boxC{
    width: 24%;
    height: 450px;
    margin: 1%;
}

@media screen and (min-width: 0) and (max-width: 768px)
{
    .boxA{
        width: 99%;
        height: 150px;
        margin: 3%;
    }
    .box {
        flex-direction: column;
    }

    .boxB {
        width: 99%;
        height: 450px;
        margin: 3%;
    }

    .boxC {
        width: 99%;
        height: 100px;
        margin: 3%;

    }
}